<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css"/>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ site.baseurl }}/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
